.parent{
    width: 49%;
    background-color: white;
    overflow: scroll;
    height: 262px;
}
.tablehead{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 14px;
    color: #778CA2; 
}
.tabledata{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 16px;
    color: #1E1E1E;
}
.tabledataPrice{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 16px;
    color:  #E55541;
}
.buyBox{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 16px;
    color:  #E55541;
    border: 0.8px solid #E55541;
    border-radius: 2px;
    padding: 0.2em 0em;
    text-align: center;
}